<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>
    <node pkg="rosservice" type="rosservice" name="sp" args="call --wait /spawn 7 7 0 turtle2" output="screen" />

    <node pkg="learning_tf" type="turtle_tf_broadcaster" name="turtle_mover_1" args="/turtle1 1">
        <param name="distance" type="double" value="1.1" />
        <param name="period" type="double" value="1" />

    </node>
    <node pkg="learning_tf" type="turtle_tf_broadcaster" name="turtle_mover_2" args="/turtle2 2">
        <param name="distance" type="double" value="1.1" />
        <param name="period" type="double" value="1" />
    </node>

    <node pkg="learning_tf" type="point_cloud_generator" name="point_cloud_generator" >

    </node>

    <node pkg="rviz" type="rviz" name="rviz_demo" respawn="false" args="-d /work/Eclipse452PF_RTC604_Linux64/workspace/src/learning_tf/launch/demo.viz.rviz" />

    <node pkg="tf" type="static_transform_publisher" name="laser1" args="0.1 0 0 0 0 0 /base_link1 /base_link1_laser 100"/>
    <node pkg="tf" type="static_transform_publisher" name="laser2" args="0.1 0 0 0 0 0 /base_link2 /base_link2_laser 100"/>

    <node pkg="learning_tf" type="laser_simulation_publisher" name="laser_simulation_publisher1" args="1">
        <param name="range_max" type="double" value="50." />
    </node>

</launch>
