<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>
    <node pkg="rosservice" type="rosservice" name="sp" args="call --wait /spawn 7 7 0 turtle2" output="screen" />

    <node pkg="learning_tf" type="turtle_tf_broadcaster" name="turtle_mover_1" args="/turtle1 1">
        <param name="distance" type="double" value="1.1" />
        <param name="period" type="double" value="1" />

    </node>
    <node pkg="learning_tf" type="turtle_tf_broadcaster" name="turtle_mover_2" args="/turtle2 2">
        <param name="distance" type="double" value="1.1" />
        <param name="period" type="double" value="1" />
    </node>

    <node pkg="learning_tf" type="point_cloud_generator" name="point_cloud_generator" >

    </node>

    <node pkg="rviz" type="rviz" name="rviz_demo" respawn="false" args="-d /work/Eclipse452PF_RTC604_Linux64/workspace/src/learning_tf/launch/demo.viz.rviz" />

    <node pkg="tf" type="static_transform_publisher" name="laser11" args="0.1 0 0 0 0 0 /base_link1 /base_link1_laser_1 100"/>
    <node pkg="tf" type="static_transform_publisher" name="laser21" args="0.1 0 0 0 0 0 /base_link2 /base_link2_laser_1 100"/>
    <node pkg="tf" type="static_transform_publisher" name="laser12" args="-0.1 0 0 3.141592653589793 0 0 /base_link1 /base_link1_laser_2 100"/>
    <node pkg="tf" type="static_transform_publisher" name="laser22" args="-0.1 0 0 3.141592653589793 0 0 /base_link2 /base_link2_laser_2 100"/>

    <node pkg="learning_tf" type="laser_simulation_publisher" name="laser_simulation_publisher11" args="1 1">
    </node>

    <node pkg="learning_tf" type="laser_simulation_publisher" name="laser_simulation_publisher21" args="2 1">
    </node>

    <node pkg="learning_tf" type="laser_simulation_publisher" name="laser_simulation_publisher12" args="1 2">
    </node>

    <node pkg="learning_tf" type="laser_simulation_publisher" name="laser_simulation_publisher22" args="2 2">
    </node>

</launch>
